@tailwind base;
@tailwind components;
@tailwind utilities;

.display-flex {
  @apply flex items-center justify-center;
}
.productcategory-size {
  width: 14rem;
  height: 10rem;
  background-color: #d4fcd6;
}
.productcategory-size:hover {
  background: rgb(181, 253, 72);
}
.productdeatils-modal {
  position: absolute;
  background: #000;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.productadd-btn {
  border: 2px solid silver;
  width: 7rem;
  height: 35px;
  border-radius: 5px;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  cursor: pointer;
}
.dark-mode {
  background-color: black;
  color: white;
}
.light-mode {
  background-color: white;
  color: black;
}
.react-multi-carousel-dot-list {
  bottom: 25px !important;
}
.react-multiple-carousel__arrow--left {
  left: calc(1.5% + 1px) !important;
  z-index: 30 !important;
}
.react-multiple-carousel__arrow--right {
  right: calc(1.5% + 1px) !important;
  z-index: 30 !important;
}
